# GENERAL CONFIG
DB_SYNCHRONIZE=true
NODE_ENV=development
PORT=8080

# JWT CONFIG
JWT_SECRET=superhotsecret
REFRESH_TOKEN_SECRET=MYREFRESHTOKENSECRET
JWT_ACCESS_EXPIRTY_TIME='15m'
JWT_REFRESH_EXPIRTY_TIME='7d'
JWT_INVITATION_EXPIRY_TIME='24h'

# REDIS CONFIG
REDIS_HOST=redis-cache
REDIS_PORT=6379        
REDIS_PASSWORD=mystrongpassword
REDIS_USERNAME=default

# OTP CONFIG
OTP_SECRET=

# SENDGRID CONFIG
SEND_GRID_HOST=dsdd
SENDGRID_API_KEY=sddd
SEND_GRID_MAIL_FROM=dsdd
SEND_GRID_PSD=sddd
SEND_GRID_USERNAME=sdddd

# POSTGRES DB CONFIG
POSTGRES_USER=postgres
POSTGRES_PASSWORD=strongpassword
POSTGRES_DB_NAME=postgres_db
POSTGRES_DB_SCHEMA=wager

## Use this when running on docker container.
POSTGRES_DB_HOST=${POSTGRES_DB_NAME}

## Use this when running locally.
# POSTGRES_DB_HOST=localhost  ## POSTGRES HOST WITHOUT DOCKER ##NB To run migration when model change you can uncomment this so prisma can see your postgress on localhost.

POSTGRES_DB_PORT=5432       ## DEFAULT POSTGRES PORT

# PRISMA POSTGRES DATABASE CONNECTION
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_DB_HOST}:${POSTGRES_DB_PORT}/${POSTGRES_DB_NAME}?schema=${POSTGRES_DB_SCHEMA}&sslmode=prefer

CHAIN_ID=SN_MAIN
NODE_URL=https://your-rpc-provider-url